@(message: String)

@main("Welcome to Play") {
    <body id="body2">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col">
                    <a href="http://localhost:9000/createperson" class="box btn btn-lg btn-danger">create a user</a>
                </div>
                <div class="col">
                    <a href="http://localhost:9000/findAll"class="box btn btn-lg btn-danger">read all users</a>
                </div>
                <div class="col">
                    <a href="http://localhost:9000/findAll" class="box btn btn-lg btn-danger">delete all users</a>
                </div>

            </div>

        </div>


    </body>






}
