@(message: String)

@main("Welcome to Play") {
    <body id="body2">
        <div class="container-fluid">
            <div class="row text-center">
                    <h1 class="display-3 text-white  mx-auto heading" >Welcome to crud functionality</h1>

            </div>
            <div class=" box row justify-content-around  mt-5 ">
                <div class="col-3 text-center">
                    <a href="http://localhost:9000/createperson" class=" btn btn-lg btn-danger">create a user</a>
                </div>
                <div class="col-3 text-center">
                    <a href="http://localhost:9000/findAll"class="btn btn-lg btn-danger">read all users</a>
                </div>
                <div class="col-3 text-center">
                    <a href="http://localhost:9000/findAll" class=" btn btn-lg btn-danger">delete all users</a>
                </div>

            </div>

        </div>


    </body>






}
