@(form: Form[LoginDetails])(implicit messagesProvider: MessagesProvider)

@main("Login") {
        <center>
                <div id="login">
                        <div class="container">
                                <div class="row min_height align-items-center">
                                        <div class="col-5 mx-auto">
                                                <div class="card l_card">
                                                        <h5 class="card-header text-white bg-info header_colour">Login to Your Account</h5>
                                                        <div class="card-body">
                                                                <div class="card-body">
                                                                @helper.form(routes.LoginController.loginSubmit()){
                                                                        @helper.inputText(form("username"), '_label -> "",'_showConstraints -> false, '_id ->"user",'placeholder ->"Username")

                                                                        @helper.inputPassword(form("password"), '_label -> "", '_showConstraints -> false, '_id ->"pass",'placeholder ->"Password" )
                                                                </div>

                                                                <button type="submit" class="btn btn-block btn-info" >Log In</button>
                                                                }
                                                        </div>
                                                </div>

                                        </div>

                                </div>
                        </div>



                </div>
        </center>







}